#app {
  width: 700px;
  height: 450px;
  margin: 20px auto;
  overflow: hidden; }

.hide {
  display: none; }

.hidden {
  display: none !important; }

.bottom-wrap {
  display: flex;
  flex-flow: wrap row;
  width: 800px;
  margin: 0 auto; }
  .bottom-wrap .column {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .bottom-wrap .column .title {
      color: #333333;
      font-family: Arial;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;
      padding: 16px 0; }
    .bottom-wrap .column .body {
      display: flex;
      flex-flow: wrap column;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 16px; }
      .bottom-wrap .column .body .option-wrap {
        display: flex;
        flex-flow: wrap column;
        margin-bottom: 5px; }
        .bottom-wrap .column .body .option-wrap .option-title {
          color: #666666;
          font-family: Arial;
          font-size: 14px;
          line-height: 20px; }
        .bottom-wrap .column .body .option-wrap .option-body label {
          color: #888888;
          font-family: Arial;
          font-size: 13px;
          line-height: 20px; }
          .bottom-wrap .column .body .option-wrap .option-body label input[type="text"] {
            width: 100px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #dadada;
            background-color: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 10px;
            color: #888888;
            font-family: Arial;
            font-size: 13px;
            line-height: 20px;
            padding: 10px 20px; }
        .bottom-wrap .column .body .option-wrap .option-body select {
          width: 160px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid #dadada;
          background-color: #ffffff;
          color: #888888;
          font-family: Arial;
          font-size: 13px;
          line-height: 20px; }
        .bottom-wrap .column .body .option-wrap .option-body .amount-wrap {
          display: flex;
          flex-flow: wrap row;
          width: 100px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid #dadada;
          background-color: #ffffff; }
          .bottom-wrap .column .body .option-wrap .option-body .amount-wrap button {
            color: #333333;
            justify-content: space-between;
            align-items: center;
            width: 33%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: none;
            font-weight: bold;
            font-size: 14px;
            outline: none;
            cursor: pointer; }
          .bottom-wrap .column .body .option-wrap .option-body .amount-wrap input {
            color: #888888;
            font-family: Arial;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            width: 33%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: none;
            outline: none; }

.doors-checkbox-wrap {
  width: 800px;
  margin: 0 auto; }

.doors-checkbox {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px;
  color: #888888;
  font-family: Arial;
  font-size: 13px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .doors-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .doors-checkbox label input {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid #dadada;
      background-color: #ffffff; }

.buttons-wrap {
  position: absolute;
  height: 30px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around; }

.sectionButton {
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #ffffff url(/src/assets/button.png) 50% no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .sectionButton:hover {
    background: #464657 url(/src/assets/button-white.png) 50% no-repeat; }
  .sectionButton .popup {
    position: absolute;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 25px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    right: -260px;
    top: -50px;
    color: #666666;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px; }
    .sectionButton .popup .shelves, .sectionButton .popup .boxes {
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      margin-bottom: 10px; }
      .sectionButton .popup .shelves .title, .sectionButton .popup .boxes .title {
        margin-right: 25px; }
      .sectionButton .popup .shelves .btn-wrap, .sectionButton .popup .boxes .btn-wrap {
        display: flex;
        flex-flow: wrap row;
        width: 100px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #dadada;
        background-color: #ffffff; }
      .sectionButton .popup .shelves button, .sectionButton .popup .boxes button {
        color: #333333;
        justify-content: space-between;
        align-items: center;
        width: 33%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        font-weight: bold;
        font-size: 14px;
        outline: none;
        cursor: pointer; }
      .sectionButton .popup .shelves input, .sectionButton .popup .boxes input {
        color: #888888;
        font-family: Arial;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        width: 33%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        outline: none; }
    .sectionButton .popup .crossbar label {
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      cursor: pointer; }
      .sectionButton .popup .crossbar label input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid #dadada;
        background-color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
